@font-face {
  font-family: "Quadraat Sans Mono";
  src: url("../assets/fonts/QuadraatSaMonoOT.woff2");
}

@font-face {
  font-family: "Inconsolata Medium";
  src: url("../assets/fonts/Inconsolata-Medium.woff2");
}

@font-face {
  font-family: "Unscii";
  src: url("../assets/fonts/unscii-16.woff2");
}

:root {
  /* Layout */
  --count: 64;
  --margin: 2;

  /* Themeing */
  --themeA: #74569b;
  --themeB: #f7ffae;
  --themeC: #96fbc7;
  --themeD: #d8bfd8;
  --themeE: #ffb3cb;
  --fontText: "Inconsolata Medium";
  --fontBlocks: "Unscii";

  /* Assigning */
  --colorBackground: var(--themeA);
  --colorText: var(--themeB);
  --colorLink: var(--themeC);
}

html {
  font-size: calc(
    clamp(125vw, (100vw * 0.5 + 688px * 1.5), 200vw) /
      (var(--count) + var(--margin) * 2)
  );

  overflow: hidden;
}

@media (max-width: 688px) {
  :root {
    --count: 40;
  }

  html {
    font-size: calc(200vw / (var(--count) + var(--margin) * 2) * 1);
  }
}

.wrap {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  height: 100vh;
  overflow-y: scroll;
  background: var(--colorBackground);
  color: var(--colorText);
}

.layout {
  overflow-y: auto;
  width: calc((var(--count)) * 0.5rem);
  margin-left: calc(var(--margin) * 0.5rem);
  margin-right: calc(var(--margin) * 0.5rem);
  margin-top: calc(var(--margin) * 0.5rem);
  overflow: hidden;
  height: max-content;
}

aside,
.blocks {
  font-family: var(--fontBlocks), "Courier New", monospace;
  white-space: nowrap;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1rem;
  vertical-align: text-bottom;
}

body {
  font-family: var(--fontText), "Courier New", monospace;
  font-size: 0.85rem;
  letter-spacing: 0.075rem;
  line-height: 1rem;
}

p,
aside {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: var(--colorLink);
  transition: color 250ms ease-out, background-color 250ms ease-out;
}

a:hover {
  color: var(--colorBackground);
  background-color: var(--colorLink);
}

::selection {
  color: var(--colorBackground);
  background: var(--colorText);
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--colorBackground);
}

::-webkit-scrollbar-thumb {
  background-color: var(--colorText);
  outline: 0;
}
