@font-face {
  font-family: "Quadraat Sans Mono";
  src: url("../assets/fonts/QuadraatSaMonoOT.woff2");
}

@font-face {
  font-family: "Unscii";
  src: url("../assets/fonts/unscii-16.woff2");
}

:root {
  --count: 64;
  --margin: 2;
  --colorA: #74569b;
  --colorB: #f7ffae;
}

html {
  font-size: calc(
    clamp(150vw, (100vw * 1.25 + 688px * 0.75), 200vw) /
      (var(--count) + var(--margin) * 2)
  );
}

@media (max-width: 688px) {
  :root {
    --count: 40;
  }

  html {
    font-size: calc(200vw / (var(--count) + var(--margin) * 2) * 1);
  }
}

body {
  background: var(--colorA);
  color: var(--colorB);
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.layout {
  width: calc((var(--count)) * 0.5rem);
  margin-left: calc(var(--margin) * 0.5rem);
  margin-right: calc(var(--margin) * 0.5rem);
  margin-top: calc(var(--margin) * 0.5rem);
  overflow: hidden;
}

aside {
  font-family: "Unscii", "Courier New", monospace;
  white-space: nowrap;
  font-size: 1rem;
  line-height: 1rem;
}

main {
  font-family: "Quadraat Sans Mono", "Courier New", monospace;
  font-size: 0.85rem;
  letter-spacing: 0.075rem;
  line-height: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

::selection {
  color: var(--colorA);
  background: var(--colorB);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--colorB);
  outline: 0;
}
